/* login.css */
html, body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

body {
    background: #000 !important; /* Fonun tam qara olması üçün */
    display: flex !important;
    align-items: center !important;    /* Şaquli mərkəzləmə */
    justify-content: center !important; /* Üfüqi mərkəzləmə */
}

.auth-card {
    background: #111;
    border: 1px solid #333;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,1);
    z-index: 100; /* Digər elementlərin üstündə olması üçün */
}

/* Əgər loqo küncdə qalırsa bunu düzəlt */
.logo {
    display: block;
    margin: 0 auto 20px auto;
    text-align: center;
}
