import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
import { getAuth, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-auth.js";
import { getFirestore, collection, query, where, onSnapshot } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-firestore.js";

const firebaseConfig = {
    apiKey: "AIzaSyCUXJcQt0zkmQUul53VzgZOnX9UqvXKz3w",
    authDomain: "vibeaz-1e98a.firebaseapp.com",
    projectId: "vibeaz-1e98a",
    storageBucket: "vibeaz-1e98a.firebasestorage.app",
    messagingSenderId: "953434260285",
    appId: "1:953434260285:web:6263b4372487ba6d673b54"
};

const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
const db = getFirestore(app);

onAuthStateChanged(auth, (user) => {
    if (user) {
        loadData(user.uid);
    } else {
        window.location.href = 'login.html';
    }
});

function loadData(myUid) {
    const activeList = document.getElementById('active-users-list');
    const chatList = document.getElementById('chat-list-container');

    onSnapshot(collection(db, "users"), (snap) => {
        activeList.innerHTML = '';
        chatList.innerHTML = '';

        snap.forEach(doc => {
            const data = doc.data();
            if (data.uid === myUid) return;

            const userImg = data.photoURL || "https://ui-avatars.com/api/?name=" + data.displayName;

            // 1. Əgər online-dırsa, yuxarı bar-a əlavə et
            if (data.status === 'online') {
                activeList.innerHTML += `
                <div class="active-u" onclick="window.location.href='chat.html?uid=${data.uid}'">
                    <img src="${userImg}">
                    <div class="dot"></div>
                    <span>${data.displayName}</span>
                </div>`;
            }

            // 2. Hamını aşağıdakı ümumi siyahıya əlavə et
            chatList.innerHTML += `
            <a href="chat.html?uid=${data.uid}" class="chat-item">
                <img src="${userImg}" class="chat-img">
                <div class="chat-info">
                    <h4>${data.displayName}</h4>
                    <p>${data.status === 'online' ? 'İndi aktivdir' : 'Oflayn'}</p>
                </div>
            </a>`;
        });
    });
}
