body {
    font-family: -apple-system, sans-serif;
    margin: 0;
    background-color: #fafafa;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.app-header h1 { font-family: 'Comic Sans MS', cursive; margin: 0; font-size: 24px; }

/* Postlar */
.post-feed {
    max-width: 500px;
    margin: 0 auto 80px; /* Menyuya yer ayırmaq üçün */
}

.post-card {
    background: white;
    border: 1px solid #dbdbdb;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.post-img-container {
    width: 100%;
    aspect-ratio: 1 / 1; /* Kvadrat şəkillər */
    overflow: hidden;
    background-color: #efefef;
}

.post-img-container img { width: 100%; height: 100%; object-fit: cover; }

/* AŞAĞI MENYU DİZAYNI */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: white;
    border-top: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.bottom-nav i {
    font-size: 22px;
    color: #262626;
    cursor: pointer;
}

/* Paylaşma (Göy düymə) */
.main-add {
    background: #0095f6;
    color: white;
    width: 44px;
    height: 44px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 149, 246, 0.3);
    margin-bottom: 5px; /* Bir az yuxarıda durması üçün */
}
