/* Ana fonun qara olması */
body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 70px;
}

/* Profil şəkli hissəsindəki o sürüşməni düzəldən hissə */
.avatar-ring {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Tam dairə olması üçün */
    overflow: hidden; /* Kənara çıxan hissələri gizlədir */
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Şəkildəki menyu rəngləri */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    background: #000;
    border-top: 1px solid #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-plus-btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(45deg, #f09433, #dc2743, #bc1888); /* Qradiyent */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item i {
    font-size: 24px;
    color: #fff;
}
