body {
    font-family: -apple-system, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

/* Üst Panel */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logout-btn { background: none; border: none; cursor: pointer; font-size: 18px; }

/* Postlar və Şəkillərin Kvadrat Ölçüsü */
.post-feed {
    max-width: 500px;
    margin: 0 auto 70px; /* Aşağıda menyu üçün boşluq */
}

.post-card {
    background: white;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
}

.post-img-container {
    width: 100%;
    aspect-ratio: 1 / 1; /* Mükəmməl kvadrat */
    overflow: hidden;
}

.post-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Şəkli dartmadan sığdırır */
}

